/* Muro.module.css */
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.centeredContainerDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerDashboard {
  margin-top: 5px; /* Reduced the margin */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardPosts {
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin-left: 90px;
  max-width: 1000px;
}
.postsContainer {
  background-color: #0d0b19;
  max-height: 80vh; /* Ajusta según necesites */
  overflow-y: auto;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Ocultar la barra de scroll en Chrome, Safari y Edge */
  scrollbar-width: none; /* Para Firefox */
  padding: 20px;
  border-radius: 10px;
}

.postsContainer::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Edge */
}

.postAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.postAuthor img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.postAuthor h2 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

.postImage {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* La altura se ajustará para mantener la proporción */
  object-fit: contain; /* Mantiene toda la imagen visible sin recortes */
  border-radius: 10px; /* Bordes redondeados para mantener el diseño */
  margin-bottom: 10px; /* Añadir un pequeño margen inferior para separación */
}

.postContent {
  flex-grow: 1;
  text-align: right;
  font-family: "Chakra Petch", sans-serif;
}

.postInteractions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Rowdies", sans-serif;
}

.likes,
.comments {
  cursor: pointer;
}

.likeButton {
  background: none;
  border: none;
  color: #e0245e;
  font-size: 16px;
  cursor: pointer;
}

.likeButton:hover {
  color: #e48a9d;
  transition: background-color 0.3s ease;
}
