/* NavBar.module.css */
.brand {
  color: antiquewhite;
  font-family: "Rowdies", sans-serif;
  font-size: 28px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(0, 16, 17);
}
.navbarCustom {
  background-color: rgb(0, 16, 17);
  width: 100%;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-color: antiquewhite;
  border-radius: 5px;
}
